.container {
	background-color: rgb(241, 239, 239);
	display: grid;
	max-width: 1600px;
	min-width: 900px;
}

.top {
	margin: 5px;
	margin-left: 20px;
	padding: 5px;
	display: inline-flex;
	align-items: center;
}

.left {
	padding: 5px;
	border-radius: 15px;
	margin-left: 30px;
	display: block;
	width: 337px;
}

.body {
	position: relative;
	left: 400px;
	top: -749px;
	width: 900px;
	display: flex;
	flex-flow: row wrap;
}
