.menu {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 13px;
	padding: 10px 50px 10px 50px;
	border-radius: 50px;
	margin: 10px 10px;
	width: 750px;
	height: 35px;

	> div {
		padding: 10px 50px 10px 10px;
		background-color: #fff;
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
