.container {
	background-color: #fff;
	width: 420px;
	padding: 20px 20px 0 20px;
	border-radius: 15px;
}

.header {
	color: gray;
	background-color: #fff;
}

.balance {
	margin-top: 20px;
	background-color: #fff;
	font-size: 54px;
	font-weight: 500;
	> span {
		background-color: #fff;
		font-size: 24px;
		font-weight: 400;
		color: gray;
		margin-left: 10px;
	}
}

.buttons {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}
