.container {
	padding: 10px 0px 0px 0px;
	display: block;
	justify-content: center;
	position: relative;
	background: linear-gradient(white, rgb(247, 247, 247));
}

.card {
	margin: auto;
	display: grid;
	position: relative;
	background-color: black;
	width: 300px;
	background-image: url('/card\ background-image.png');
	background-repeat: no-repeat;
	background-position: -10px -49px;
	background-size: 300px;
	height: 120px;
	border-radius: 15px 15px 0 0px;
}

.cardName {
	margin-top: 10px;
	background-color: black;
	color: #fff;
	font-size: 18px;
	margin-left: 35px;
	width: 100px;
}

// Master-card logo
.cardName::before {
	position: relative;
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	top: 18px;
	border-radius: 10px;
	left: 210px;
	background-color: rgb(255, 214, 31);
	opacity: 0.8;
}

.cardName::after {
	position: relative;
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 10px;
	left: 200px;
	top: -18px;
	background-color: rgb(250, 17, 17);
	opacity: 0.8;
}

.cardNumber {
	background-color: black;
	display: flex;
	color: #fff;
	width: 250px;
	margin-left: 35px;
	letter-spacing: 5px;
	align-items: baseline;
	background-image: url('/card\ background-image.png');
	background-repeat: no-repeat;
	background-position: -40px -145px;
	background-size: 300px;

	//CVV code
	> div {
		display: inline-flex;
		margin-left: 15px;
		align-items: center;
		justify-content: center;
		background-color: rgb(53, 52, 52);
		width: 50px;
		height: 22px;
		font-size: 11px;
		letter-spacing: 1px;
		border-radius: 50px;
	}
}

.secondCard {
	display: flex;
	position: relative;
	background-color: #6e468f;
	top: 12px;
	left: 35px;
	width: 260px;
	height: 30px;
	transform: rotate(-2deg);
	border-radius: 15px 15px 0 0px;
}
