.container {
	display: flex;
	justify-content: center;
	padding: 6px;
	position: relative;
}

.card {
	margin-top: 15px;
	display: flex;
	position: relative;
	background-color: black;
	width: 300px;
	height: 100px;
	border-radius: 15px 15px 0 0px;
}

.card::before {
	position: absolute;
	right: 0;
	top: -5px;
	left: 0;
	margin: auto;
	content: '';
	justify-content: center;
	height: auto;
	width: auto;
	background-color: #6e468f;
}
