.container {
	background-color: rgb(206, 206, 180);
	width: 850px;
	display: grid;
}

.content {
	width: auto;
	margin-top: 20px;
	background-color: rgb(126, 126, 119);
	display: inline-flex;
	justify-content: space-between;
}
