@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Urbanist', sans-serif;
	background-color: rgb(241, 239, 239);
}

.top {
	margin: 5px;
	margin-left: 20px;
	padding: 5px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.left {
	padding: 5px;
	background-color: #fff;
	border-radius: 15px;
	margin-left: 30px;
	display: block;
	width: 350px;
}
